#display {
    width: 85%;
    height: 110px;
    font-size: 58px;
    text-align: right;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #3a3a3b;
    color: antiquewhite;
    box-shadow: inset 0 0 5px #1d1c1c;
}
button {
    width: 100px;
    height: 70px;
    font-family: Verdana;
    font-size: xx-large;
    color: antiquewhite;
    border: 2px solid #1e1e1e;
    box-shadow: inset 0 0 5px #989898;
    background-color: #3a3a3b;
    transition: all 0.1s ease;
    cursor: pointer;
    border-radius: 15px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;  
}
button:hover {
    background-color: #362733;
    color: pink;
}
button:active {
    box-shadow: #4d2844 inset;
    background-color: #551e4d;
}
.calculator {
    width: 450px;
    height: 570px;
    padding: 20px;
    background-color: #414648;
    border-radius: 20px;
    box-shadow: 0 10px 25px black;
}
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#clear button {
    background-color: rgb(224, 146, 2);
    color: black;
    box-shadow: inset 0 0 5px #202020;
    transition: all 0.1s ease;
}
#clear button:hover {
    background-color: rgb(251, 170, 21);
}
#clear button:active {
    box-shadow: inset 0 0 5px rgb(78, 56, 15);
    background-color: rgb(229, 153, 11);
}

